
<main>
  <div class="position-relative">

      <section class="section section-lg section-hero section-shaped">
          <div class="shape shape-style-1 shape-default">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
          
          <div class="container shape-container d-flex align-items-center py-lg"></div>
          <div class="col px-0">
              <div class="row align-items-center justify-content-center">

                  <form [formGroup]="reclamationForm" (ngSubmit)="saveComplaint()"class="form-floating" >
                     
                      <img class="card-img-top" src="/assets/assets1/images/RECLAMATION_CLIENT.png"  alt="Card image cap">
                      <div class="form-group">
                          <label>Nom de la réclamation</label>
                          <input class="form-control" autocomplete="off" type="text"  formControlName="nom"  >
                      </div>
                      <div class="form-group">
                          <label>Description</label>
                          <input class="form-control" autocomplete="off" type="text" formControlName="description">
                      </div>
                       <div class="form-group">
                          <label>mail</label>
                          <input class="form-control" autocomplete="off" type="text" formControlName="mail">
                      </div>
                      <div class="form-group">
                        <label>typereclamation</label>
                        <input class="form-control" autocomplete="off" type="text" formControlName="typereclamation">
                    </div>

                     
                  
                  
                     
                    
                      
                      <button class="btn btn-block btn-default" type="submit">Envoyer</button>
                  </form>
              </div>
          </div>
          
      </section>

  </div>
  </main>