<div class="row">
    <div class="col-md-12" >
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste des Inscriptions </h4>
          <button mat-flat-button color="primary" (click)="InscriptionCSV()" ><mat-icon>download</mat-icon>CSV</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <mat-form-field appearance="standard">
              <mat-label>Rechercher</mat-label>
              <input matInput (keyup)="applyFilter($event)"  #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8" >
              <table mat-table [dataSource]="dataSource" matSort align="center" style="overflow-x:auto;">
            

                <ng-container matColumnDef="idinscription">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>
                    <td mat-cell *matCellDef="let row"> {{row.idinscription}} </td>
                  </ng-container>

                <ng-container matColumnDef="dateoperation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de l'opération </th>
                  <td mat-cell *matCellDef="let row"  > {{row.dateoperation}} </td>
                </ng-container>
            
                <ng-container matColumnDef="ttt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >  </th>
                  <td mat-cell *matCellDef="let row"  > {{row.ttt}} </td>
                </ng-container>

                <ng-container matColumnDef="montant">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
                  <td mat-cell *matCellDef="let row"  > {{row.montant}}TND </td>
                </ng-container>
            
                <ng-container matColumnDef="typepaiement">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de payement </th>
                    <td mat-cell *matCellDef="let row"> {{row.typepaiement}} </td>
                  </ng-container>
               
                <ng-container matColumnDef="activite">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Pension </th>
                  <td mat-cell *matCellDef="let row"> {{row.activite}} </td>
                </ng-container>

               
                <ng-container matColumnDef="enfant" hidden>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> Prenom Chauffeur </th>
                  <td mat-cell *matCellDef="let row" hidden> {{row.enfant}} </td>
                </ng-container>

                <!--<ng-container matColumnDef="nomChauffeur">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Chauffeur </th>
                  <td mat-cell *matCellDef="let row"> {{row.nomChauffeur}} </td>
                </ng-container>
                <ng-container matColumnDef="photoChauffeur">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo Chauffeur </th>
                  <td mat-cell *matCellDef="let row"> {{row.photoChauffeur}} </td>
                </ng-container>-->
                <ng-container matColumnDef="action" id="main-container">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary"  (click)="openInfoInscriDialog(row.enfant)">
                      <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteInscription(row.idinscription)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">Pas d'inscriptions"</td>
                </tr>
              </table>
            
              
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Geeks of Geeks
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">
                    Date of birth
                </label>
                <div class="input-group">
                    <input id="dateOfBirth" 
                        class="form-control" 
                        placeholder="yyyy-mm-dd" 
                        name="dp" ngbDatepicker
                        #dp="ngbDatepicker">
  
                    <div class="input-group-append">
                        <button class="btn 
                            btn-outline-secondary calendar"
                            (click)="dp.toggle()"
                            type="button">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="modal.close('Save click')">
            Save
        </button>
    </div>


    
</ng-template>
  

  
  