<div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
        </div>
        <div class="card-body">
          <div class="author">
            <a >
              <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
              <h4 class="title">Chauffeur <h4 id="affichage"></h4></h4>
            </a>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Liste des enfants </h5>
        </div>
        <div class="card-body">
                  <table mat-table [dataSource]="dataSource" matSort 
                    class="mat-elevation-z8" align="center" >

                    <!-- Position Column -->
                    <ng-container matColumnDef="idenfant">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        Id
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.idenfant}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="nomenfant">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                        Nom
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.nomenfant}} </td>
                    </ng-container>
                    <ng-container matColumnDef="separation2">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                        
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.separation2}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="prenomenfant">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Prenom
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.prenomenfant}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
        </div>
      </div>
    </div>
  </div>
  