<div class="card">
    <div class="card-body" style="background-color: rgba(78, 188, 86, 0.353);">
        <h3>Identifiant  : <a id="idenfant"> </a> </h3>
        <h3>Nom  : <a id="nomenfant"> </a> </h3>
        <h3>Prenom  : <a id="prenomenfant"> </a> </h3>
        <h3>Age  : <a id="age"> </a> </h3>
        <h3>Classe  : <a id="classe"> </a> </h3>
        <h3>Nom parent  : <a id="nomparent"> </a> </h3>
        <h3>Email : <a id="email"> </a> </h3>
        <h3>Tel  : <a id="tel"> </a> </h3>
    </div>
  </div>


