<div class="sidebar" data-color="white" data-active-color="danger">
  <sidebar-cmp></sidebar-cmp>
</div>
<section id="form-action-layouts">
    <div class="row">
    <div class="col-sm-12">
    </div>
    </div>
    
    
    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" id="from-actions-multiple">Add Absence</h4>
          <div class="alert alert-info" role="alert">
          </div>
        </div>
        <div class="card-body">
          <div class="px-3">
    
            <form class="form">
              <div class="form-actions top clearfix">
                <div class="buttons-group float-right">
                  <button type="button" class="btn btn-raised btn-info mr-1">Action 1</button>
                  <button type="button" class="btn btn-raised btn-danger mr-1">Action 2</button>
                  <button type="button" class="btn btn-raised btn-success">Action 3</button>
                </div>
              </div>
    
              <div class="row justify-content-md-center">
                <div class="col-md-6">
                  <div class="form-body">
                    <div class="row">
                      <div class="form-group col-12 mb-2">
                        <label for="eventRegInput1">date debut</label>
                        <input type="date" [(ngModel)]="Absence.datedebut" id="eventRegInput1" class="form-control" placeholder="write here" name="datedebut">
                      </div>
                    </div>
    
    
    
                    <div class="row">
                      <div class="form-group col-12 mb-2">
                        <label for="eventRegInput2">periode</label>
                        <input type="email" [(ngModel)]="Absence.periode" id="eventRegInput2" class="form-control" placeholder="write here" name="periode">
                      </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 mb-2">
                          <label for="eventRegInput3">cause</label>
                          <input type="email" [(ngModel)]="Absence.cause" id="eventRegInput3" class="form-control" placeholder="write here" name="cause">
                        </div>
                      </div>
            
               
                    
    
                    
                  </div>
                </div>
              </div>
    
              <div class="form-actions clearfix">
                <div class="buttons-group float-left">
                  <button type="button" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="button" class="btn btn-raised btn-primary mr-1" (click)="updateAbsence()">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
    
              </div>
            </form>
    
          </div>
        </div>
      </div>
    </div>
    </div>
    
    </section>
    <!-- // Form actions layout section end -->
    