<div class="sidebar" data-color="white" data-active-color="danger">
  <sidebar-cmp></sidebar-cmp>
</div>
<section id="form-action-layouts">
<div class="row">
<div class="col-sm-12">
</div>
</div>


<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="from-actions-multiple">Add Event</h4>
      <div class="alert alert-info" role="alert">
      </div>
    </div>
    <div class="card-body">
      <div class="px-3">

        <form class="form" (ngSubmit)="addEvent()" >
          <div class="form-actions top clearfix">
            <div class="buttons-group float-right">
              <button type="button" class="btn btn-raised btn-info mr-1">Action 1</button>
              <button type="button" class="btn btn-raised btn-danger mr-1">Action 2</button>
              <button type="button" class="btn btn-raised btn-success">Action 3</button>
            </div>
          </div>

          <div class="row justify-content-md-center">
            <div class="col-md-6">
              <div class="form-body">
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput1">Description<label  class="required-star" > * </label> </label>
                    <div class="textarea-wrapper">
                    <textarea  type="text" pInputTextArea [(ngModel)]="value" (ngModelChange)="valueChange(value)" maxlength="100" required [(ngModel)]="evenement.description" id="eventRegInput1" 
                    class="form-control" placeholder="write here" name="description"></textarea>
                    <span class="remaning">{{remainingText}}/100</span>
                  </div>
                </div>
              </div>




                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput2">Image</label>
                    <input required type="text" [(ngModel)]="evenement.image" id="eventRegInput2" class="form-control" placeholder="Image" name="image">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="pet-select">Type</label>
                    <select [(ngModel)]='evenement.type' name="type" id="eventRegInput3" class='form-control'>
                      <option value="Sport">Sport</option>
                      <option value="Gaming">Gaming</option>
                      <option value="Music">Music</option>
                      <option value="Culture">Culture</option>
                      <option value="Festival">Festival</option>
                      <option value="IT">IT</option>
                      <option value="Film">Film</option>

                      </select>
                  </div>
                </div>




           
                

                
              </div>
            </div>
          </div>

          <div class="form-actions clearfix">
            <div class="buttons-group float-left">
              <button type="button" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Cancel
              </button>
              <input type="submit" value="save" class="btn btn-raised btn-primary mr-1" >
               
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</div>

</section>
<!-- // Form actions layout section end -->
