<div class="sidebar" data-color="white" data-active-color="danger">
  <sidebar-cmp></sidebar-cmp>
</div>
<section id="form-action-layouts">
<div class="row">
<div class="col-sm-12">
</div>
</div>


<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="from-actions-multiple">Add Event</h4>
      <div class="alert alert-info" role="alert">
      </div>
    </div>
    <div class="card-body">
      <div class="px-3">

        <form (ngSubmit)="onUpload()" novalidate enctype="multipart/form-data">
          <div class="form-actions top clearfix">
            <div class="buttons-group float-right">
              <button type="button" class="btn btn-raised btn-info mr-1">Action 1</button>
              <button type="button" class="btn btn-raised btn-danger mr-1">Action 2</button>
              <button type="button" class="btn btn-raised btn-success">Action 3</button>
            </div>
          </div>

          <div class="row justify-content-md-center">
            <div class="col-md-6">
              <div class="form-body">
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput1">Description<label  class="required-star" > * </label> </label>
                    <div class="textarea-wrapper">
                    <textarea  type="text" pInputTextArea [(ngModel)]="value" (ngModelChange)="valueChange(value)" maxlength="100" required [(ngModel)]="evenement.description" id="eventRegInput1" 
                    class="form-control" placeholder="write here" name="description"></textarea>
                    <span class="remaning">{{remainingText}}/100</span>
                  </div>
                </div>
              </div>



                <div class="row justify-content-md-center">
                  <div class="col-md-6">
                    <div class="form-body">

                      <div class="container row">
                        <div class="col-md-12">
                          <label for="eventRegInput3">Upload Image</label>
                        </div>
                      </div>

                    
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="imagen" #imagenInputFile
                            (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif">
                            <label class="custom-file-label" for="imagen">Choose image</label>
                        </div>
                        <div *ngIf="imagen" class="mt-5">
                            <h5>Image preview:</h5>
                            <div>
                                <img class="image-thumbnail" style="max-width: 100px" [src]="imagenMin">
                            </div>
                        </div>
            
                    </div>
                  </div>
                </div>

                
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="pet-select">Type</label>
                    <select [(ngModel)]='evenement.type' name="type" id="eventRegInput3" class='form-control'>
                      <option value="Sport">Sport</option>
                      <option value="Gaming">Gaming</option>
                      <option value="Music">Music</option>
                      <option value="Culture">Culture</option>
                      <option value="Festival">Festival</option>
                      <option value="IT">IT</option>
                      <option value="Film">Film</option>

                      </select>
                  </div>
                </div>

                <div class="form-actions clearfix">
                  <div class="buttons-group float-left">
                    <button type="button" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
                    <input type="submit" value="save" class="btn btn-raised btn-primary mr-1" >
                     
                  </div>
      
                </div>
            
        

                
              </div>
            </div>
          </div>

       
        </form>
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
          <p style="font-size: 50px; color: white">Uploading the image...</p>
      </ngx-spinner>l
      </div>
    </div>
  </div>
</div>
</div>

</section>
<!-- // Form actions layout section end -->
