<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Liste des Bus </h4>
        <button type="button" class="btn btn-success">Ajouter un nouveau bus</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" >
            <thead class=" text-primary">
              <th class="text-center">
                Numéro bus
              </th>
              <th class="text-center">
                Heure de départ
              </th>
              <th class="text-center align-middle">
                Destination
              </th>
              <th class="text-center"class="text-center">
                Nombre de places
              </th>
              <th class="text-center align-middle" colspan="3">
                Actions
              </th>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">                 
                  Dakota Rice
                </td>
                <td class="text-center">
                  Niger
                </td>
                <td class="text-center">
                  Oud-Turnhout
                </td>
                <td class="text-center">
                  $36,738
                </td>
                <td>               
                  <button type="button" class="btn btn-danger">Supprimer</button>
                </td>
                <td>                                
                  <button type="button" class="btn btn-info">Modifier</button>                  
                </td>
                <td>                                   
                  <button type="button" class="btn btn-info">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


