
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                    Nom de la réclamation
                </th>
                <th>
                    Type de la réclamation
                </th>
                <th>
                    Description
                </th>
                <th>
                 mail
              </th>
              
              </thead>
              <tbody>
                <tr *ngFor="let reclamation of listereclamation">
            
                    <td>
                        {{reclamation.nom}}
                      </td>
                      <td>
                        {{reclamation.typereclamation}}
                      </td>
                      <td>
                        {{reclamation.description}}
                      </td>
                      <td>
                        {{reclamation.mail}}
                      </td> 

                    
                      <form >
                      <div mat-dialog-content>
   
   
    

  </div>
   </form>
  

               <div mat-dialog-action [align]="'end'">
              
              
                <button class="btn btn-success"  (click)="getQuantiteRestante()">repondre</button>
                 
 
                </div>
                   
                 
                  
                </tr>
               
              </tbody>
            </table>
           
          </div>
        </div>
  
  
  