<header>
    <app-front-nav-bar></app-front-nav-bar>
  </header>



<main>
    <img src="/assets/assets1/images/img_14.jpg" class="responsive">
    
    <div class="position-relative">
      
    
      
      <!-- shape Hero -->
     
      <!-- 1st Hero Variation -->
  
    
      
    <section class="section section-lg pt-lg-0 mt--200">
      <form>
        <div class="form-group">
            <div class="icon-field">
                <i class="vl-search"></i>
                <input type="search" (ngModelChange)="searchC(key.value)" #key="ngModel" ngModel
                name="key" id="searchName" class="form-control mr-sm-2" placeholder="Chercher un cours..." required>
            </div>
        </div>
    </form>
  
      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4"  *ngFor='let cours of listecours | paginate: { itemsPerPage: 2, currentPage:page,totalItems:totallength}'>
                <div class="card card-lift--hover shadow border-0" >
                  <img class="card-img-top" src="/assets/assets1/images/book.jpg"  alt="Card image cap">
                  
                  <div class="card-body py-5">
                    
                      <div class="package text-center bg-white">
                       
                        <h3 class="text-teal">{{cours.matiere}}</h3>
                        <p>{{cours.description}} Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
                        <span class="btn btn-warning mt-4">Fichier : {{cours.file}}</span><br>
                     
                       
                      </div>
                    
                  </div>
                </div>
           
              </div>
              
  
              
                  
                  </div>  
                </div>
             
              </div>
            </div>
            <div *ngIf="listecours?.length == 0" class="col-lg-12 col-md-12 col-xl-12" >
              <div class="alert alert-warning"  role="alert">
                <h4 class="alert-heading">Pas de Cours!</h4>
                <p>Cours inexistant</p>
              </div>
              </div>   
    </section>
  <div align="center">
    <pagination-controls 
    previousLabel="Prev"
    nextLabel="Suivant"
   
    
    (pageChange)="page = $event"></pagination-controls> </div>
    
  </div>
  </main>
  