<h1 mat-dialog-litle>Add Jardin D'Enfant</h1>
<div mat-dialog-content>
   <form>
    <mat-form-field appearance="outline">
        <mat-label>Nom Jardin Enfant</mat-label>
        <input [(ngModel)]="Jardin.nomjardin" matInput placeholder="nom du jardin"  [ngModelOptions]="{standalone : true}" > 
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Adresse Jardin Enfant</mat-label>
        <input [(ngModel)]="Jardin.adressejardin" matInput placeholder="adresse jardin" [ngModelOptions]="{standalone : true}">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Logo Jardin Enfant</mat-label>
        <input [(ngModel)]="Jardin.logo" matInput placeholder="logo" [ngModelOptions]="{standalone : true}">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email Jardin Enfant</mat-label>
        <input [(ngModel)]="Jardin.emailjardin" matInput placeholder="Votre Email" [ngModelOptions]="{standalone : true}"> 
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Telephone Jardin Enfant</mat-label>
        <input [(ngModel)]="Jardin.numtel" matInput placeholder="num Tel" [ngModelOptions]="{standalone : true}">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Tarif Jardin Enfant</mat-label>
        <input type="number" [(ngModel)]="Jardin.tarif" matInput placeholder="tarif" [ngModelOptions]="{standalone : true}">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description Jardin Enfant</mat-label>
        <textarea [(ngModel)]="Jardin.description" matInput placeholder="description" [ngModelOptions]="{standalone : true}"></textarea>
    </mat-form-field>

   </form>

</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addJardin(Jardin)">Save</button>

</div>