<header>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="/assets/assets1/fonts1/icomoon/style.css">

  <link rel="stylesheet" href="/assets/assets1/css1/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/assets1/css1/bootstrap.min.css">
  
  <!-- Style -->
  <link rel="stylesheet" href="/assets/assets1/css1/style.css">
  <!-- Navbar -->
  
      <header class="site-navbar" role="banner">

          <div class="container">
            <div class="row align-items-center">
              
              <div class="col-11 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="home" class="text-white mb-0">KidZone</a></h1>
              </div>
              <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
    
                  <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li class="active"><a href="home"><span>Acceuil</span></a></li>
                    <li><a href="home"><span>Fil d'actualité</span></a></li>
                    <li><a  [routerLink]="['/Jardin']"><span>Jardin d'enfants</span></a></li>
                    <li><a [routerLink]="['/inscription-front']"><span>Inscription</span></a></li>
                    <li><a [routerLink]="['/inscription']"><span>Réclamation</span></a></li>
                    <li><a [routerLink]="['/listeeventfront']"><span>Evenement</span></a></li>
                    <li><a href="contact.html"><span>Contact</span></a></li>
                  </ul>
                </nav>
              </div>
              <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
            </div>
          </div>  
        </header>
        <script src="/assets/assets1/js1/jquery-3.3.1.min.js"></script>
        <script src="/assets/assets1/js1/popper.min.js"></script>
        <script src="/assets/assets1/js1/bootstrap.min.js"></script>
        <script src="/assets/assets1/js1/jquery.sticky.js"></script>
        <script src="/assets/assets1/js1/main.js"></script>
</header>
