
<header>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="home"><span style="color: #fff; font-family: 'Roboto';">KidZone</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!" style="font-size: large;">Jardin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="inscription-front" style="font-size: large; font-family: 'Roboto';" >Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!" style="font-size: large;">Evennement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!" style="font-size: large;" >Cours</a>
          </li>
          
        </ul>  
      </div>
    </div>
  </nav>
</header>