
<button style="margin-left: 85%;" mat-raised-button color="warn" (click)="openDialog()">Add courses</button>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>



       
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                    matiere
                </th>
                <th>
                    Description
                </th>
                <th>
                file
                </th>
                <th>
                  Edit
                  </th>
                  <th>
                    Delete
                    </th>
                
              </thead>
              <tbody>
                <tr *ngFor="let cours of listecours">
            
                    <td>
                        {{cours.matiere}}
                      </td>
                      <td>
                        {{cours.description}}
                      </td>
                      <td>
                        {{cours.file}}
                      </td>
                    <td>
                    <button mat-icon-button (click)="open(mymodal)"  type="button" color="primary">
                        <mat-icon>edit</mat-icon>
                    </button></td>
                    <td>
                    <button mat-icon-button color="warn" (click)="deletecours(cours.idcours)" type="button">
                      <mat-icon>delete</mat-icon>
                  </button></td>
                   
                      <ng-template #mymodal let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true" (click)="cancel()">×</span>
        
                            </button>
        
                        </div>
                        <div>
                        <form>
                            <div class="modal-body">
                                <input type="text" [(ngModel)]="cours.idcours" [ngModelOptions]="{standalone : true}" hidden/>

                                <div class="row" class="col-md-5">
                                    <label>NameC</label>
                                    <input type="text" [(ngModel)]="cours.matiere" [ngModelOptions]="{standalone : true}" />
                                </div>
                                <div class="row" class="col-md-5">
                                    <label>Description</label>
                                    <input type="text" [(ngModel)]="cours.description" [ngModelOptions]="{standalone : true}" />
                                </div>
                               
                               
                               
                            </div>
        
                            <div class="modal-footer">
        
                                <button type="button" class="btn btn-info"
                                    (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                                <button class="btn btn-success"(click)="updatecours(cours)" (click)="modal.close('Save click')">Validate</button>
                            </div>
                        </form>
                    </div>
                    </ng-template>
                     
              </tbody>
            </table>
           
          </div>
        </div>
  
  
  